<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>31691954080-rp98ef3kp44jhtto1m4vobr4mgmih8fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31691954080-rp98ef3kp44jhtto1m4vobr4mgmih8fv</string>
	<key>API_KEY</key>
	<string>AIzaSyDhu-zurAcYH99YHGuI5vXN3siNwaFMMCg</string>
	<key>GCM_SENDER_ID</key>
	<string>31691954080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coffeeforthewicked.Chatme</string>
	<key>PROJECT_ID</key>
	<string>mychatproject-627cf</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatproject-627cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31691954080:ios:5dd16b14ea482f36</string>
	<key>DATABASE_URL</key>
	<string>https://mychatproject-627cf.firebaseio.com</string>
</dict>
</plist>